{% include "public/public_header.html" %}
<style>
    .my_div{
        margin-top:100px;
        min-height:77vh;
    }
</style>
<center>
    <div class="my_div">
            <h3>Login page</h3>
            <form action="" method="post" class="login">
           
                <input type="text" name="username" placeholder="USERNAME" required><br><br>
                <input type="password" name="password" placeholder="PASSWORD" required><br><br>
                <input type="submit" name="submit" class="opacity">
            </form>
        </div>
</center>

{% include "public/footer.html" %}

